body {

background-color: #0d1117;

color: white;

font-family: "Roboto Slab", serif;

}

.navigation {

background-color: #161b22;

border-radius: 10px;

padding: 10px;

}

.navigation-link {

text-decoration: none;

font-weight: 600;

transition: 0.3s;

}

.navigation-link:hover {

color: #ffc107;

}

h5 {

font-family: "Baloo Tamma 2", cursive;

}